<h1>Welcome!</h1>

<p>
    You signed up as {{ username }} the following email:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="{{ absolute_url(path('app_activate_account')) }}?token={{ token }}">Click here to activate your account</a>
</p>