<h1>Welcome!</h1>

<p>
    You signed up as {{ username }} the following email:
</p>

<p>
    <a href="{{ url('app_password_reset', {token: token}) }}">Click here to reset password your account</a>
</p>